// colors
$accentColor = #55acee
$textColor = #fafafa
$borderColor = #333333
$codeBgColor = rgba(23, 23, 23, 0.8)
$arrowBgColor = #0078d7

// layout
$navbarColor = rgba(0, 0, 0, 0.95)
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
