$themePrimaryColor: "[theme: themePrimary, default: #0078d4]";
$themeLighterAltColor: "[theme: themeLighterAlt, default: #eff6fc]";
$themeLighterColor: "[theme: themeLighter, default: #deecf9]";
$themeLightColor: "[theme: themeLight, default: #c7e0f4]";
$themeTertiaryColor: "[theme: themeTertiary, default: #71afe5]";
$themeSecondaryColor: "[theme: themeSecondary, default: #2b88d8]";
$themeDarkAltColor: "[theme: themeDarkAlt, default: #106ebe]";
$themeDarkColor: "[theme: themeDark, default: #005a9e]";
$themeDarkerColor: "[theme: themeDarker, default: #004578]";
$neutralLighterAltColor: "[theme: neutralLighterAlt, default: #f8f8f8]";
$neutralLighterColor: "[theme: neutralLighter, default: #f4f4f4]";
$neutralLightColor: "[theme: neutralLight, default: #eaeaea]";
$neutralQuaternaryAltColor: "[theme: neutralQuaternaryAlt, default: #dadada]";
$neutralQuaternaryColor: "[theme: neutralQuaternary, default: #d0d0d0]";
$neutralTertiaryAltColor: "[theme: neutralTertiaryAlt, default: #c8c8c8]";
$neutralTertiaryColor: "[theme: neutralTertiary, default: #c2c2c2]";
$neutralSecondaryColor: "[theme: neutralSecondary, default: #858585]";
$neutralPrimaryAltColor: "[theme: neutralPrimaryAlt, default: #4b4b4b]";
$neutralPrimaryColor: "[theme: neutralPrimary, default: #333]";
$neutralDarkColor: "[theme: neutralDark, default: #272727]";
$blackColor: "[theme: black, default: #1d1d1d]";
$whiteColor: "[theme: white, default: #fff]";
$bodyBackgroundColor: "[theme: bodyBackground, default: #fff]";
$bodyTextColor: "[theme: bodyText, default: #333]";
