@mixin media-breakpoint-up($name) {
  $breakpoint: (
    sm: 35.5rem,
    md: 48rem,
    lg: 64rem,
    xl: 80rem,
    hg: 120rem
  );

  @media screen and (min-width: map-get($breakpoint, $name)) {
    @content;
  }
}
@mixin border-shadow(
  $type,
  $color: rgba(0, 0, 0, 0),
  $important: null,
  $size: 1px
) {
  $border: (
    top: 0
      (
        -$size
      )
      0 $color,
    right: $size 0 0 $color,
    bottom: 0 $size 0 $color,
    left: (
      -$size
    )
    0 0 $color,
    all: 0 0 $size $size $color inset,
    btn: 0 0 0.2rem 0.2rem rgba($color, 0.5),
    none: none
  );
  box-shadow: map-get($border, $type) $important;
}
@mixin font-spec($size) {
  $fontsize: (
    h1: 2.875rem,
    h2: 2.125rem,
    h3: 1.5rem,
    h4: 1.25rem,
    h5: 0.9375rem,
    h6: 0.75rem,
    default: 0.9375rem
  );
  $lineheight: (
    h1: 3.5rem,
    h2: 2.5rem,
    h3: 1.75rem,
    h4: 1.5rem,
    h5: 1.25rem,
    h6: 0.875rem,
    default: 1.75em
  );
  $fontweight: (
    h1: lighter,
    h2: lighter,
    h3: lighter,
    h4: lighter,
    h5: normal,
    h6: normal,
    default: normal
  );
  font-size: map-get($fontsize, $size);
  line-height: map-get($lineheight, $size);
  font-weight: map-get($fontweight, $size);
}
