@import 'styles/variable.scss';
@import 'styles/theme.scss';

.#{$themePrefix}button {
  position: relative;
  height: 3rem;
  padding: 1rem;
  color: $themeColorGray600;
  background-color: $themeColorGray100;
  font-size: 0.9375rem !important;
  line-height: 1.125rem !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  letter-spacing: 0;

  &:hover,
  &:focus,
  &:active,
  &.#{$themePrefix}button-active {
    background-color: $themeColorGray300;
  }
  &:active,
  &.#{$themePrefix}button-active {
    @include border-shadow(btn, $themeColorGray200);
  }
  &.#{$themePrefix}button-disabled {
    background-color: rgba($themeColorGray200, 0.5);
    cursor: default !important;

    &:active,
    &.#{$themePrefix}button-active {
      box-shadow: none !important;
    }
  }

  &.#{$themePrefix}button-radius {
    border-radius: $themeBorderRadius;
  }
  &.#{$themePrefix}button-circle {
    border-radius: 3rem;
  }
  &.#{$themePrefix}button-responsive {
    display: block;
  }
  &.#{$themePrefix}button-block {
    display: block;

    .#{$themePrefix}badge-center {
      margin-left: 0.25rem;
    }

    &.#{$themePrefix}button-icon {
      .#{$themePrefix}badge-center {
        right: 0.75rem;
      }

      &.#{$themePrefix}button-small .#{$themePrefix}badge-center {
        right: 0.25rem;
      }
      &.#{$themePrefix}button-large .#{$themePrefix}badge-center {
        right: 1.25rem;
      }
      &.#{$themePrefix}button-huge .#{$themePrefix}badge-center {
        right: 1.75rem;
      }
    }
  }

  &.#{$themePrefix}button-background {
    background-position: center;
    background-size: 100%;
  }
  &.#{$themePrefix}button-icon {
    padding-left: 3rem;
    text-align: left;

    .#{$themePrefix}icon {
      position: absolute;
      left: 0.75rem;
      margin-top: -0.25rem;
    }

    &.#{$themePrefix}button-icon-only {
      padding-right: 0;

      .#{$themePrefix}badge {
        left: 50%;
        margin-left: 0.25rem;
      }
    }
  }

  &.#{$themePrefix}button-center {
    text-align: center;
  }
  &.#{$themePrefix}button-left {
    text-align: left;
  }
  &.#{$themePrefix}button-right {
    text-align: right;

    &.#{$themePrefix}button-icon {
      padding-left: 1rem !important;
      padding-right: 3rem;

      .#{$themePrefix}icon {
        right: 0.75rem;
        left: auto !important;
      }
    }

    .#{$themePrefix}badge {
      left: 100%;
      margin-left: -1.25rem;
    }

    &.#{$themePrefix}button-small .#{$themePrefix}badge {
      margin-left: -0.75rem;
    }
    &.#{$themePrefix}button-large .#{$themePrefix}badge {
      margin-left: -1.75rem;
    }
    &.#{$themePrefix}button-huge .#{$themePrefix}badge {
      margin-left: -2.25rem;
    }
  }
  &.#{$themePrefix}button-top,
  &.#{$themePrefix}button-bottom {
    text-align: center;
    line-height: 1em !important;

    &.#{$themePrefix}button-icon {
      height: 4rem;
      padding-top: 0.5rem;
      padding-right: 0 !important;
      padding-bottom: 0.5rem;
      padding-left: 0 !important;

      .#{$themePrefix}icon {
        display: block;
        position: relative;
        left: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }
  &.#{$themePrefix}button-top {
    &.#{$themePrefix}button-icon {
      .#{$themePrefix}icon {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }

      .#{$themePrefix}badge {
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
      }

      &.#{$themePrefix}button-small .#{$themePrefix}badge {
        margin-top: -0.5rem;
      }
    }
  }
  &.#{$themePrefix}button-bottom {
    &.#{$themePrefix}button-icon {
      .#{$themePrefix}icon {
        margin-top: 0.375rem;
      }

      .#{$themePrefix}badge {
        margin-top: -2rem;
        margin-left: 0.25rem;
      }

      &.#{$themePrefix}button-small .#{$themePrefix}badge {
        margin-top: -1.875rem;
      }
    }
  }

  &.#{$themePrefix}button-small {
    height: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &.#{$themePrefix}button-circle {
      border-radius: 2rem;
    }
    &.#{$themePrefix}button-icon {
      padding-left: 2rem;

      .#{$themePrefix}icon {
        left: 0.25rem;
      }
    }

    &.#{$themePrefix}button-right {
      &.#{$themePrefix}button-icon {
        padding-right: 2rem;

        .#{$themePrefix}icon {
          right: 0.25rem;
        }
      }
    }

    &.#{$themePrefix}button-top,
    &.#{$themePrefix}button-bottom {
      padding: 0.375rem 0;

      &.#{$themePrefix}button-icon {
        height: 3rem;
        font-size: 0.75rem !important;

        .#{$themePrefix}icon {
          margin: 0 auto 0.125rem auto !important;
        }
      }
    }
  }
  &.#{$themePrefix}button-large {
    height: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &.#{$themePrefix}button-circle {
      border-radius: 4rem;
    }
    &.#{$themePrefix}button-icon {
      padding-left: 4rem;

      .#{$themePrefix}icon {
        left: 1.25rem;
      }
    }

    &.#{$themePrefix}button-right {
      &.#{$themePrefix}button-icon {
        padding-right: 4rem;

        .#{$themePrefix}icon {
          right: 1.25rem;
        }
      }
    }

    &.#{$themePrefix}button-top,
    &.#{$themePrefix}button-bottom {
      &.#{$themePrefix}button-icon {
        height: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
  &.#{$themePrefix}button-huge {
    height: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &.#{$themePrefix}button-circle {
      border-radius: 5rem;
    }
    &.#{$themePrefix}button-icon {
      padding-left: 5rem;

      .#{$themePrefix}icon {
        left: 1.75rem;
      }
    }

    &.#{$themePrefix}button-right {
      &.#{$themePrefix}button-icon {
        padding-right: 5rem;

        .#{$themePrefix}icon {
          right: 1.75rem;
        }
      }
    }

    &.#{$themePrefix}button-top,
    &.#{$themePrefix}button-bottom {
      &.#{$themePrefix}button-icon {
        height: 6rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }
  }

  &.#{$themePrefix}button-outline {
    background-color: rgba(0, 0, 0, 0);
    @include border-shadow(all, $themeColorGray100);

    &:hover,
    &:focus,
    &:active,
    &.#{$themePrefix}button-active {
      background-color: $themeColorGray100;
    }
    &.#{$themePrefix}button-disabled {
      background-color: rgba($themeColorGray100, 0.5) !important;
      @include border-shadow(all, $themeColorGray100, !important);

      &:hover,
      &:focus,
      &:active {
        background-color: rgba($themeColorGray100, 0.5) !important;
      }
    }
  }

  &.#{$themePrefix}button-primary {
    @include mixin-button($themeColorAccentDark);
  }
  &.#{$themePrefix}button-secondary {
    @include mixin-button($themeColorAccentLight);
  }
  &.#{$themePrefix}button-success {
    @include mixin-button($themeColorGreen);
  }
  &.#{$themePrefix}button-danger {
    @include mixin-button($themeColorPink);
  }
  &.#{$themePrefix}button-warning {
    @include mixin-button($themeColorOrange);
  }
  &.#{$themePrefix}button-info {
    @include mixin-button($themeColorCyan);
  }
  &.#{$themePrefix}button-link {
    color: $themeColorIndigo;
    background-color: rgba(0, 0, 0, 0);

    &.#{$themePrefix}button-icon .#{$themePrefix}icon {
      color: $themeColorIndigo;
      fill: $themeColorIndigo;
    }

    &:hover,
    &:focus,
    &:active,
    &.#{$themePrefix}button-active {
      background-color: rgba(0, 0, 0, 0);
      text-decoration: underline;
    }
    &:active,
    &.#{$themePrefix}button-active {
      @include border-shadow(btn, $themeColorIndigo);
    }
    &:#{$themePrefix}button-disabled {
      background-color: rgba($themeColorGray200, 0.5);
      text-decoration: none;
    }

    &.#{$themePrefix}button-outline {
      @include border-shadow(all, rgba($themeColorIndigo, 0.5));

      &:hover,
      &:focus,
      &:active,
      &.#{$themePrefix}button-active {
        @include border-shadow(none);
      }
      &.#{$themePrefix}button-disabled {
        color: $themeColorIndigo;
        @include border-shadow(all, rgba($themeColorIndigo, 0.5), !important);
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .#{$themePrefix}button {
    &.#{$themePrefix}button-responsive {
      display: inline-block;
    }
  }
}

.#{$themePrefix}button-group {
  white-space: nowrap;

  .#{$themePrefix}button {
    margin: 0 !important;

    &:hover,
    &:focus,
    &:active,
    &.#{$themePrefix}button-active {
      z-index: $themeZindexFixed;
    }
  }

  .#{$themePrefix}button:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .#{$themePrefix}button:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
