@import 'styles/variable.scss';

.#{$themePrefix}icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: $themeColorGray500;
  fill: $themeColorGray500;
  vertical-align: inherit;

  use {
    margin: -0.125rem 0 0 -0.125rem;
  }
  &.#{$themePrefix}icon-circle {
    border-radius: 50%;
  }

  &.#{$themePrefix}icon-mini {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
  }

  &.#{$themePrefix}icon-small {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }

  &.#{$themePrefix}icon-large {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
  }

  &.#{$themePrefix}icon-huge {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
  }
}
